<div class="content columns is-mobile is-multiline">

<div class="column is-full">      
    <h4>Track Your Progress</h4>

    <select (change)="projectSelected($event.target.value)" id="selector" *ngIf="projects">
        <option selected="selected">Select project...</option>
        <option *ngFor="let project of projects" value="{{project.slug}}">{{project.name}}</option>
    </select>

    <div id="arrow">
        <span>Not at all</span>
        <svg width="159" height="17" fill="none" viewBox="0 0 159 17">
            <path stroke="url(#a)" d="M0 8.236h158.555"/>
            <path stroke="#5A5C27" d="M150.723.355l7.922 7.922"/>
            <path stroke="#5A5C27" stroke-width="1.00351" d="M150.723 16.117l7.922-7.922"/>
            <defs>
                <linearGradient id="a" x1="158.555" x2="0" y1="8.738" y2="8.738" gradientUnits="userSpaceOnUse">
                    <stop stop-color="#5A5C27"/>
                    <stop offset=".318" stop-color="#634DA0"/>
                    <stop offset=".661" stop-color="#E85E5D"/>
                    <stop offset="1" stop-color="#E9BBB0"/>
                </linearGradient>
            </defs>
        </svg>
        
        <span>A lot</span>
    </div>
</div>
      
<form class="columns column is-full-mobile is-full-tablet is-multiline" [formGroup]="responseForm" (submit)="submitNew()">

    <div class="row" *ngFor='let prompt of prompts; let i = index;'>
       <h4>
           {{i+1}}
       </h4>
       <p>{{prompt}}</p>

       <div class="fields">

           <input id="{{i}}_1" formControlName="{{i}}" type="radio" value="1" />
           <label class="radio one" for="{{i}}_1">1</label>
           
           <input id="{{i}}_2" formControlName="{{i}}" type="radio" value="2" />
           <label class="radio two" for="{{i}}_2">2</label>
           
           <input id="{{i}}_3" formControlName="{{i}}" type="radio" value="3" />
           <label class="radio three" for="{{i}}_3">3</label>
          
           <input id="{{i}}_4" formControlName="{{i}}" type="radio" value="4" />
           <label class="radio four" for="{{i}}_4">4</label>
           
       </div>
    </div>

    <button type="submit">See Your Results</button>

</form>
</div>