/*
 * TODO: - Change numbers to outline on mobile
 *       - Put numbers on same row as survey question
 *       - expand rows to full screen width on mobile
 *       - Put "add a note?" and "optional" on same line on mobile
 */

@import '~src/style/_variables';

#arrow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  svg {
    padding-left: 2%;
    padding-right: 2%;
  }

  span {
    text-transform: uppercase;
  }
}

form {

  text-align: center;

  h4,
  p {
    margin: 0;
  }

  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;

    // TODO: Change first value for mobile layout
    @include pxtoem(24, 72);
  }

  .item-number-mobile {
    font-family: 'Spectral', serif;
    font-weight: normal;
  }

  p {
    @include pxtoem(16, 20);

    margin: 0;

    @include not-phones {
      text-align: left;

      $m: 6%;
      margin: 0 $m;
    }
  }

  /* Hide the browser's default radio button */
  input {
    display: none;

    &:hover+label,
    &:checked+label {

      color: white;

      &.one {
        background-color: $pale-salmon;
      }

      &.two {
        background-color: $coral;
      }

      &.three {
        background-color: $blueberry;
      }

      &.four {
        background-color: $camo-green;
      }
    }

  }

  label {
    display: inline-flex;
    cursor: pointer;

    border: solid 1px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    transition: all 0.3s;
    align-items: center;
    justify-content: center;

    @include phones {
      $side: 40px;
      width: $side;
      height: $side;
    }

    &.one {
      border-color: $pale-salmon;
    }

    &.two {
      border-color: $coral;
    }

    &.three {
      border-color: $blueberry;
    }

    &.four {
      border-color: $camo-green;
    }

  }

  #note {
    margin-top: 60px;

    text-align: left;

    h5 {
      display: inline-block;

      margin: 0 30px 0 0;
      
      font-family: 'Roboto', sans-serif;
      font-weight: normal;
      @include pxtoem(16, 32);
    }

    span {
      color: $brown-grey;
      text-transform: uppercase;
      line-height: 1.5;
      @include pxtoem(12, 18);
    }

    textarea {
      resize: none;
      
      display: block;
      box-sizing: border-box;

      border: solid 1px $brown-grey;

      width: 100%;
      margin: 4% 0 1%;
      padding: 2.5% 3.5%;

      font-family: 'Roboto', sans-serif;
      @include pxtoem(12, 18);

      @include phones {
        padding: 12px 15px;
      }
    }
  }

  .submit {
    margin-top: 60px;
    
    background-image: cdn-image('img/speckled-bg', c_fill, f_auto, w_680);
    background-repeat: repeat;
    background-clip: border-box;

    @include phones {
      margin-bottom: 60px;
    }
  }

  button {
    font-family: 'Roboto Mono', monospace;
    @include pxtoem(18, 36);
    letter-spacing: 2px;
    text-align: center;

    background: none;
    border: none;
    cursor: pointer;

    text-decoration: underline;
    text-transform: uppercase;

    line-height: 1.5;
    letter-spacing: 2px;

    // margin-top: 21%;
    $m: 10%;
    margin: $m 0;
  }

  .row {
    width: 100%;

    padding: 8% 4% 8%;

    &:nth-child(even) {
      background-color: rgba(233, 187, 176, 0.15);
    }
  }

  .fields {
    display: flex;
    justify-content: space-evenly;
  }
}

.outline {
  &:before {
    display: inline-block;
  }
}