@import '~src/style/_variables';

#top {
  margin: 3em 0;

  h4 {
    font-weight: 400;

    strong {
      font-weight: 700;
    }
  }
}

#new {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 78px;
  grid-auto-rows: auto;

  margin-bottom: 6%;

  button {

    display: flex;
    align-items: center;

    text-align: left;

    background: $camo-green;
    border: none;

    line-height: 1.5;
    letter-spacing: 2px;
    color: white;
    @include pxtoem(18, 24);

    padding: 2% 3%;
    height: 60px;

    @include not-phones {
      height: 120px;
    }

    span {
      text-transform: uppercase;
      text-decoration: underline;
    }

    svg {
      margin: 0 5%;
    }
  }
}

#none {
  text-align: center;
  @include pxtoem(18, 36);
  color: #bbbbbb;
}

#first {
  padding: 6%;
  background-color: $camo-green-25;

  h4 {
    font-weight: 400;
    color: $camo-green;
    margin-top: 0;
  }

  #right {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    svg {
      display: block;
    }
  }
}

#projects {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;

  @include desktop {
    grid-auto-rows: minmax(250px, 250px);
    grid-gap: 78px;
  }

  @include not-desktop {
    grid-template-columns: repeat(1, 100%);
    grid-gap: 17px;

  }

  &.none {
    display: flex;
    justify-content: center;

    .new {
      max-width: 50%;
      min-width: 320px;
      min-height: 200px;
    }
  }

  .project {
    background-color: $camo-green-25;

    @include phones {
      min-height: 164px;
    }

    .name, .desc {
      word-break: break-all;
      overflow-wrap: break-word;
      hyphens: auto;
    }

    &:hover {
      .icon {
        @include translate(15%, 0);
      }
    }

    a {
      text-decoration: none;

      height: 100%;

      .master {
        height: 100%;

        .margin {
          @include desktop {
            margin-top: 5%;
          }

          margin-top: 1%;
        }
      }

      svg {
        display: block;
        margin: 0 auto;
      }

      .project-image {
        @include phones {
          max-width: 70px;
          max-height: 70px;
        }
      }


      .txt {
        padding-right: 4%;

        @include phones {
          padding-left: 0;
        }
      }

      .icon {
        display: inline-block;
        @include transition(transform, .2s, ease-in-out);
      }

      .name {
        @include pxtoem(18, 24);
        letter-spacing: 2px;
        text-decoration: underline;
      }

      .desc {
        @include pxtoem(12, 18);

        padding-right: 4%;
      }
    }
  }

}

#modal {
  max-width: 680px;

  .fields {
    width: 65%;
  }
}
