<a [routerLink]="" (click)="create()">Create your <br />
  First Project</a>

<div id="projects">
  <div class="project" *ngFor="let project of projects;"><a routerLink="/projects/{{project._id}}">{{project.name}}</a></div>
</div>


<div id="new" class="modal-wrapper">
  <div id="modal" class="modal">

    <div class="columns is-mobile">
      <h2 class="column">Create a Project</h2>

      <div id="close-btn" class="column">
        <a (click)="closeModal()">
          <div id="lines">
            <span></span>
            <span></span>
          </div>
        </a>
      </div>
    </div>

    <form class="columns column is-11-mobile is-full-tablet is-multiline" [formGroup]="newForm" (submit)="submitNew()">
      <div class="fields">
        <div class="column is-full-mobile is-half-tablet" data-aos="fade-up" data-aos-delay="1000">
          <input formControlName="name" id="name" placeholder="Project Name" required />
          <div *ngIf="f.name.invalid">
            <span *ngIf="f.name.errors.required">Required.</span>
          </div>
        </div>
        <div class="column is-full-mobile is-half-tablet" data-aos="fade-up" data-aos-delay="1000">
          <textarea formControlName="description" id="description" placeholder="Project Description" required></textarea>
          <div *ngIf="f.description.invalid">
            <span *ngIf="f.description.errors.required">Required.</span>

          </div>
        </div>
      </div>
      <div class="column is-full-mobile is-5-tablet" data-aos="fade-up" data-aos-delay="1500">
        <button type="submit">Create Project</button>
      </div>
    </form>
  </div>

</div>
