@import '~src/style/_variables';

#projects {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-gap: 78px;
  grid-auto-rows: minmax(140px, 240px);

  @include desktop {
    grid-auto-rows: minmax(250px, 250px);
  }

  @include phones {

    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-gap: 17px;

  }

  &.none {
    display: flex;
    justify-content: center;

    .new {
      max-width: 50%;
      min-width: 320px;
      min-height: 200px;
    }
  }

  .project {

    background-color: $camo-green-25;

    // height: 320px;
    @include phones {
      height: 140px;
    }

    a {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      height: 100%;
    }

    p {
      @include pxtoem(18, 24);
      letter-spacing: 2px;
      text-decoration: underline;
    }

    span {
      @include pxtoem(14, 18);

    }

    .txt {
      max-width: 320px;
    }

    .icon {
      display: flex;
      align-items: flex-start;
    }

    button {
      display: table;

      font-family: 'Roboto Mono', sans-serif;

      text-align: center;
      text-transform: uppercase;

      line-height: 1.5;
      letter-spacing: 2px;
    }

    button {
      color: white;
      text-decoration: underline;
      @include pxtoem(18, 24);

      height: 100%;
      width: 100%;
    }

    a {
      // @include pxtoem(14, 18);
      text-decoration: none;

      padding-top: 2%;
      padding-bottom: 2%;
      padding-left: 4%;
      padding-right: 4%;
    }

    &.new {
      button {
        background: none;
        border: none;
      }
    }
  }
}

#modal {
  max-width: 680px;

  .fields {
    width: 65%;
  }
}

#none {
  font-weight: 300;
  text-align: center;
}
