<div class="content columns is-mobile is-multiline" *ngIf="hasContent">

  <div class="column is-full">

    <h4>{{project.name}}</h4>
    <p>
      {{project.description}}
    </p>
  </div>

  <div class="columns column is-full is-mobile is-multiline" *ngIf="progress && progress.length > 0">

    <div class="column is-9">
      Latest Entry: {{progress[0].date | date: 'MM/dd/yyyy'}} <br />
      <a (click)="viewAll()">view all</a>
    </div>
    <div class="column">

      <a (click)="exportPdf()">

        <cdn-image cloudinaryId="img/pdf-export" width="37" phoneWidth="33" svg="true" alt="Export as PDF button image">
        </cdn-image>

      </a>

    </div>

    <div id="all" class="column is-full">
      <hr />
      <div class="columns is-mobile" *ngFor="let entry of progress; let i = index;">
        <div class="column is-1">
          <span class="num mono">
            {{progress.length - i}}
          </span>
        </div>
        <div class="column is-2">
          {{entry.date | date: 'MM/dd/yyyy'}}
        </div>
        <div class="column">
          {{entry.sumX}}, {{entry.sumY}}
        </div>
      </div>
      <hr />
    </div>
  </div>

  <div class="column is-full" *ngIf="progress && progress.length > 0">

    <canvas #canvasElement id="canvas" width="680" height="680" *ngIf="!isPhone"></canvas>
    <canvas #canvasElement id="canvas" width="300" height="300" *ngIf="isPhone"></canvas>

    <div class="bottom" class="mono">
      <a routerLink="/projects" *ngIf="progress">
        <svg width="21" height="17" fill="none" viewBox="0 0 21 17">
          <path stroke="#000" d="M21 8.539H.727M8.473 16.497L.363 8.388" />
          <path stroke="#000" stroke-width="1.02719" d="M8.473.363l-8.11 8.11" />
        </svg>
        <div>Back to<br />Projects</div>
      </a>
    </div>
  </div>
  
  <!-- No progress -->
  <div id="none" class="column is-full" *ngIf="progress && progress.length === 0">

    <div id="grid">

        <a href="#" routerLink="/projects/{{project.slug}}/track" class="mono">Track your Progress</a>

    </div>

    <div class="bottom">Not ready to track your progress? Start by  talking it out.</div>
  </div>
</div>
