@import '~src/style/_variables';

h4 {
  font-weight: 300;
}

#prompt {

  @include pxtoem(14, 18);
  
  display: flex;
  align-items: center;

  background-color: $camo-green;
  color: white;
  
  margin-bottom: 6%;

  padding: 20px 40px;

  .column {
    &:nth-child(2) {
      display: flex;
      justify-content: space-around;
    }

    a {
      cursor: pointer;
      text-decoration: underline;
      text-transform: uppercase;
      color: white;

      letter-spacing: 1px;
    }
  }

}

#view {

  display: block;
  cursor: pointer;
  font-weight: 600;
  text-decoration: underline;
  margin-top: 2%;

}

#all {

  hr {
    display: none;
  }

  .columns {
    display: none;
    transform-origin: top;

    &:nth-of-type(4n+1) .num {
      background-color: $camo-green;
    }

    &:nth-of-type(4n+2) .num {
      background-color: $blueberry;
    }

    &:nth-of-type(4n+3) .num {
      background-color: $coral;
    }

    &:nth-of-type(4n+4) .num {
      background-color: $pale-salmon;
    }

    .num {
      display: block;
      border-radius: 50px;

      width: 20px;
      height: 20px;

      color: white;
      text-align: center;
    }
  }

  hr {
    border-bottom: 1px solid #ccc;
  }

}

#pdf {
  cursor: pointer;

  svg {
    @include transition(transform, .5s, ease-in-out);
  }

  &:hover {
    svg {
      @include scale(1.2);
    }
  }
}

#none {
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: cdn-image('img/project/grid-fade', c_fill, f_auto, w_1440);
  background-repeat: no-repeat;
  background-size: contain;

  min-height: 621px;

  text-align: center;
  @include pxtoem(18, 36);
  color: #bbbbbb;

  @include phones {
    min-height: 177px;
  }

  p {
    background-color: white;
    padding: 4% 6%;
    width: 40%;
  }  

}

.green {
  background-color: $camo-green-25;

  p {
      @include pxtoem(18, 24);
      letter-spacing: 2px;
      text-decoration: underline;
  }

  .header {

    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    min-height: 100px;

    font-family: 'Spectral';
    font-weight: 600;
    text-transform: uppercase;

    div {
      position: absolute;
    }

    .label {
      @include pxtoem(24, 36);
    }

    .outline {
      &:before {
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: $camo-green;
      }
    }
  }
}

.bottom {

  @include pxtoem(18, 24);
  line-height: 1.5;

  margin-top: 5%;

  &.back {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  a {
    text-transform: uppercase;

    span {
      margin-left: 5%;
    }
  }
}