@import '~src/style/_variables';

footer div {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    bottom: 0;
    width: 100%;

    margin-top: 5%;
    margin-bottom: 5%;

    @include phones {
        margin-left: 4%;
        width: 92%;
    }

}