<footer>
<div  class="container desktop">

    <a href="https://journalism.uoregon.edu/">
        <cdn-image cloudinaryId="img/sojc-blk" svg="true" width="267"
        alt="Logo for University of Oregon School of Jouralism and Communication"></cdn-image>
    </a>
    
    <a href="https://elab.emerson.edu">
        <cdn-image cloudinaryPrefix="homepage-2.0/" cloudinaryId="logos/el-logo-wht" width="112" svg="true"
        alt="Logo for Engagement Lab @ Emerson College"></cdn-image>
    </a>
    
</div>
</footer>