// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

@import '_variables';

@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@keyframes fade {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: black;
  margin: 0;
  height: 100%;

  overflow-x: hidden;

  &.modal-open {
    overflow-y: hidden;
  }

  &.activity {

    #bg {
      background-image: none;
    }
  }

  &.pale-salmon {
    #bg {
      background-color: $pale-salmon;
    }
  }

  &.coral {
    #bg {
      background-color: $coral;
    }
  }

  &.blueberry {
    #bg {
      background-color: $blueberry;
    }
  }

  &.camo-green {
    #bg {
      background-color: $camo-green;
    }
  }

  &.white {

    #lines {
      span {
        background: black !important;
      }
    }

    #bg {
      animation: fade 1s forwards;
    }

    .content {
      color: black;
    }

    footer {
      img {
        @include filter(invert, 0);
      }
    }
  }
}

a {
  color: black;
}

button {
  cursor: pointer;
  background: none;
}

// Global styles
h2 {

  font-family: 'Spectral';

  @include pxtoem(32, 48);
  line-height: 1.5;

}

h3 {

  @include pxtoem(18, 24);
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1px;

  b {
    letter-spacing: 3px;
  }

}

h4 {
  color: black;
  font-family: 'Spectral';
  @include pxtoem(24, 48);

  line-height: 1.5;
}

form {

  button {

    @include pxtoem(18, 24);

    text-decoration: underline;
    text-transform: uppercase;
    text-align: left;

    line-height: 1.5;
    letter-spacing: 2px;

    margin-top: 5%;

    border: none;

  }
}

.container {
  overflow: hidden;
}

.hidden {
  display: none;
}

.modal-wrapper {

  position: fixed;
  display: none;

  justify-content: center;
  align-items: center;

  z-index: 25;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .modal {

    display: block;
    background-color: #fdf5f3;

    width: 900px;
    max-width: 80%;
    min-height: 270px;

    h2 {
      @include pxtoem(24, 36);
      font-weight: 300;
    }

    @include phones {
      width: 355px;
      min-height: 405px;

      hr {
        margin: 0;
        width: 90%;
      }
    }

    @include tablet-portrait {

      width: 500px;
      min-height: 300px;

      hr {
        margin: 1%;
        width: auto;
      }
    }

    @include desktop {
      @include pxtoem(14, 18);
    }

    padding: 0 6.5% 1.5%;

    #close-btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      cursor: pointer;
    }

  }
}

    .fields {

      input,
      textarea {
        font-size: 1.3em;
        border: solid 1px rgba(0, 0, 0, 0.4);
        padding: 5% 5%;
        margin: 3% 0;

        width: 92%;

        @include placeholder {
          text-transform: capitalize;
          font-size: 1em;
        }
      }

      .note {
        padding: 4% 0;
      }
    }

.content {

  margin-left: auto;
  margin-right: auto;

  width: 41%;

  @include not-desktop {
    width: 75%;
  }

  @include phones {
    width: 80%;
  }

  p {
    @include pxtoem(18, 24);
    line-height: 1.5;
  }
}

// Fonts
.roboto {
  font-family: 'Roboto', sans-serif;
}

.mono {
  font-family: 'Roboto Mono', sans-serif;
}

// Owl slider overrides
.owl-carousel {

  &.active {
    .owl-dots {
      transform: translateX(0%);
    }
  }
}

.owl-dots {

  transform: translateX(0%);
  @include transition(all, .6s, ease-in-out);

  &.end {
    transform: translateX(-50%);

    .owl-dot {
      @include translate(150%);
    }
  }
}

.owl-dot {
  @include transition(all, .6s, ease-in-out);
  @include translate(0%);
  display: inline-block !important;

  span {
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: 20px !important;
    height: 20px !important;

    border: solid 1px black;
    border-radius: 50px;

    background: none !important;

    &::after {
      content: "";

      opacity: 0;
      width: 14px;
      height: 14px;
      border-radius: 50px;

      background-color: black;
    }
  }

  &.active {
    span::after {
      opacity: 1;
    }
  }
}

// Outlined font style
.outline {

  font-family: 'Roboto';

  display: block;
  position: relative;
  width: 100%;

  @include pxtoem(100, 200);  
  font-weight: 900;

  paint-order: stroke fill;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);

  &:before {
    
    position: absolute;
    display: block;
    
    content: attr(data-text);

    -webkit-text-stroke-width: 2px;
    z-index: -2;
    font-size: 1em;
  
  }

}