// Bulma framework
$tablet: 768px;
@import "~bulma/sass/utilities/mixins";
@import "~bulma/sass/grid/columns";
@import "~bulma/sass/elements/container";

@import '_variables';

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

html {
  height: 100%;
}
body {
    font-size: 14px;
    color: black;
    margin: 0;
    height: 100%;

  overflow-x: hidden;

  @include mobile-only {
    font-size: 12px;
  }

  #bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #5a5c27, #634da0 33%, #e85e5d 66%, #e9bbb0);
  }
  
  &.white {
    #bg {
      animation: fade 1s forwards;
    }
  }
}

a {
  color: black;
}

.container {
  overflow: hidden;
}

// Global styles
h2 {

  @include pxtoem(20, 30);
  line-height: 1.4;
  letter-spacing: 6px;

  text-transform: uppercase;
  text-align: center;

  padding-top: 5%;
  padding-bottom: 4%;

  &.lower {
    @include pxtoem(18, 24);
    text-transform: none;
  }

  &.cap {
    @include pxtoem(18, 24);
    text-transform: capitalize;
  }
}

h3 {

  @include pxtoem(18, 30);
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: 1px;

  b {
    letter-spacing: 3px;
  }

}

h4 {
  @include pxtoem(24, 48);

  line-height: 1.42;
  letter-spacing: 4px;

  padding-bottom: 2%;
}
