<div id="first" class="content intro column columns is-mobile is-multiline" *ngIf="hasContent">

  <h2 class="column is-full">This is Meetr.</h2>

  <div class="column is-full">
    {{content.screen1}}
  </div>
  
  <div id="next" class="column is-full">
    <button (click)="next()">
      <svg width="30" height="24" fill="none" viewBox="0 0 30 24">
        <path stroke="#fff" d="M0 11.923h29.282M17.928.359l11.713 11.713" />
        <path stroke="#fff" stroke-width="1.01511" d="M17.928 23.331l11.713-11.713" />
      </svg>
    </button>
  </div>

</div>

<div id="second" class="content intro column columns is-mobile is-multiline" style="display: none" *ngIf="hasContent">

  <h2 class="column is-full no-pad">This is how it works.</h2>

  <div class="column is-full-mobile is-half-tablet no-pad" [innerHtml]="content.screen2Column1.html">
  </div>

  <div class="column is-full-mobile is-5-tablet is-offset-1-tablet no-pad" [innerHtml]="content.screen2Column2.html">
  </div>

  <div id="link" class="column">
    <a class="mono" routerLink="/projects">Get Started</a>
  </div>

</div>
