@import '~src/style/_variables';

h1,
h3,
h5 {
  font-weight: 300;
}

h1 {
  font-family: Spectral;
  @include pxtoem(36, 64);
}

h5 {
  @include pxtoem(18, 36);

  margin: 40px 0 0;

}

#top {

  overflow: visible;
  min-height: 900px;

  @include phones {
    min-height: 600px;

    h1 {
      margin: 0;
    }

    h5 {
      margin-top: 5%;
    }
  }

  ::ng-deep img {

    position: absolute;

    max-width: 70%;
    margin-top: 8%;

    @include phones {
      margin-top: 20%;
      max-width: 120%;
    }

  }

}

#works {

  background-color: $pale-salmon-15;
  padding-top: 22%;

  @include phones {
    padding-top: 5%;
  }

  h5 {
    font-weight: normal;
    margin: 5% 0 0;
  }

  .column:nth-child(2) {
      margin-top: 24%;
  }

  .header {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    min-height: 200px;

    font-family: 'Spectral';
    font-weight: 600;
    text-transform: uppercase;
    
    div {
        position: absolute;
    }
    
    .label {
        @include pxtoem(24, 36);
    }

    .outline {        
      &:before {
        -webkit-text-stroke-color: $coral;

      }
    }
  }
}
