.intro {
    display: grid;
}

#next {
    
    height: 50px;
    width: 50px;
    border: solid 1px white;
    border-radius: 50px;
    margin-top: 60px;
    
    background: none;

    justify-self: center;


}