@import '~src/style/_variables';

#signin-link {

    @include pxtoem(14, 16);

    @include phones {
        @include translate(0, 1.1rem);
    }
    @include translate(0, .75rem);

    display: block;
    letter-spacing: 2px;
    
}

#pic {

    max-width: 50px;
    max-height: 50px;
    border-radius: 50px;

    @include phones {
        max-width: 30px;
        max-height: 30px;
    }
}

#wrapper-profile {

    position: fixed;
    // display: none;

    justify-content: center;
    align-items: center;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    #modal {

        hr {
            border: solid 1px $pale-salmon;
        }

        #signin {
            line-height: 1.5;

            #forgot { 
                text-align: right;
            }
        }

        a.social {
            display: inline-flex;
            cursor: pointer;

            justify-content: center;
            align-items: center;
            
            width: 75px;
            height: 75px;
            border: solid 1px #000000;
            border-radius: 50px;

            background-color: white;
        }

        .lower a {
            font-weight: 700;
        }

        .social-login {
            display: flex;
            justify-content: space-evenly;

            margin-top: 7%;
            margin-bottom: 12%;
        }
    
    }
}