@import "~src/style/_variables";

nav {

  position: relative;
  margin-bottom: 0 !important;
  z-index: 25;

  padding: 2% 0;

  @include not-desktop {
    padding: 5% 5%;
  }

  @include phones {
    padding: 5% 8%;
  }

  a {


    &#home {
      ::ng-deep img {
        margin-top: 2%;
      }
    }

    #logo {

      * {
        @include transition(fill, 1s, ease-in-out);
      }

      .cls-1 {
        fill: url(#linear-gradient-w);
      }
      .cls-2 {
        fill: url(#linear-gradient-w-2);
      }
      circle {
        fill: #fff;
      }
      .cls-4 {
        fill: url(#linear-gradient-w-3);
      }
      .cls-5 {
        fill: url(#linear-gradient-w-4);
      }
      
      &.color {
      circle {
        &:nth-of-type(1) {
          fill: #e85e5d;
       
      }     
      &:nth-of-type(2), &:nth-of-type(5) {
        fill: #e9bbb0;
            }
            &:nth-of-type(3) {
              fill: #5a5c27;
                  }
                  &:nth-of-type(4) {
                    fill: #634da0;
                        }
       
      }       
        .cls-1 {
          fill: url(#linear-gradient);
        }
        .cls-2 {
          fill: url(#linear-gradient-2);
        }
        .cls-5 {
          fill: url(#linear-gradient-4);
        }
      }
    }
  }

  .right {
    text-align: right;
    justify-content: flex-end;
  }

  #home {
    display: flex;
    justify-content: center;
  }

  #menu-btn {

    display: flex;
    position: relative;

    justify-content: space-between;
    
    cursor: pointer;

    #lines {
      position: relative;

      display: block;
      cursor: pointer;
      // align-content: center;

      span {
        display: block;
        position: relative;
        height: 1px;
        width: 46px;
        background: white;
        opacity: 1;
        left: 0;
        
        transform-origin: center;
        
        @include transform(rotate(0deg));
        @include transition(all, .7s, ease-in-out);

        &:nth-child(2) {
          top: 14px;
        }

        &:nth-child(3) {
          position: relative;
          top: 29px;
        }
        
        @include phones {
          width: 25px;


        &:nth-child(2) {
          top: 6px;
        }

        &:nth-child(3) {
          position: relative;
          top: 12px;
        }
        }

      }

    }

    #label {

      display: flex;
      line-height: 4.22;
      letter-spacing: 4px;

      padding-top: 15%;
      padding-left: 0;

      @include transition(color, .7s, ease-in-out);

    }

    &.open {

      #lines {
        span {
          background: black;

          &:nth-child(1) {
            @include transform(rotate(45deg));
            top: 16px;

            @include phones {  
              top: -4px;
            }
          }

          &:nth-child(2) {
            opacity: 0;
            left: 15px;
          }

          &:nth-child(3) {
            @include transform(rotate(-45deg));
            top: 14px;
          }
        }
      }

    }
  }

}
