@import '~src/style/_variables';

.content {
  .activity:first-of-type {
    display: block;
  }
}

#toc {

  @include not-phones {
    display: grid;
  }
    
  grid-template-columns: repeat(auto-fit, minmax(50%, 1fr));
  grid-template-rows: 2;
  @include pxtoem(14, 18);

  div {
    cursor: pointer;
    padding-top: 5%;

    &.active,
    &:hover {
      div {
        border-bottom: 1px solid white;
      }

    }

    &#c_1 {
      grid-column: 1;
    }

    &#c_2 {
      grid-row: 1;
      grid-column: 2;
    }

    &#c_3 {
      grid-column: 2;
    }

    div {
      display: inline;
      break-inside: avoid;

      span {
        padding-left: 8%;
      }
    }
  }
}

.activity {
  display: none;

  .step {

    p {
      margin-top: 0;
      @include pxtoem(14, 18);

      &.intro {
        margin-bottom: 18%;
      }
    }

    .text {

      text-align: center;

      ::ng-deep p {

        font-size: 1em;

        strong {
          @include pxtoem(18, 24);
          font-weight: 100;
        }
      }

    }
  }

  .next {
    opacity: 0;
    position: absolute;
    right: -50%;
  }

  h4 {
    margin-bottom: 5%;
  }
}
