<div class="content column">

  <nav id="toc">
    <div id="c_{{i}}" *ngFor="let activity of activities; let i = index;" [class.active]="i === currentActivity"
      (click)="goto(i)">
      <div class="inner">{{i+1}}<span>{{activity.name}}</span>
      </div>

    </div>
  </nav>

  <div class="activity a_{{i}}" *ngFor="let activity of activities; let i = index;">

    <h4>Activity {{i+1}}: {{activity.name}}</h4>
    <p class="intro">{{activity.intro}}</p>

    <owl-carousel-o class="slides" [options]="customOptions" (initialized)="sliderInit(i, $event)"
      (translated)="slideChange($event, i)">
      <ng-template carouselSlide>

        <div class="step">
          <div class="text" [innerHtml]="activity.step1.html | sanitizeHtml"></div>
        </div>

      </ng-template>
      <ng-template carouselSlide>

        <div class="step">
          <div class="text" [innerHtml]="activity.step2.html | sanitizeHtml"></div>
        </div>

      </ng-template>
      <ng-template carouselSlide *ngIf="activity.step3">

        <div class="step">
          <div class="text" [innerHtml]="activity.step3.html | sanitizeHtml"></div>
        </div>

      </ng-template>
      <ng-template carouselSlide *ngIf="activity.step4">

        <div class="step">
          <div class="text" [innerHtml]="activity.step4.html | sanitizeHtml"></div>
        </div>

      </ng-template>
      <ng-template carouselSlide *ngIf="activity.step5">

        <div class="step">
          <div class="text" [innerHtml]="activity.step5.html | sanitizeHtml"></div>
        </div>

      </ng-template>
    </owl-carousel-o>

    <svg class="arrow next" width="30" height="24" fill="none" viewBox="0 0 30 24" (click)="gotoNext()">
        <!-- <circle cx="0" cy="0" r="40" stroke="black" stroke-width="2" fill="none" /> -->
        <path stroke="#000" d="M0 11.923h29.282M17.928.359l11.713 11.713" />
      <path stroke="#000" stroke-width="1.01511" d="M17.928 23.331l11.713-11.713" />
    </svg>

  </div>

  <div class="bottom mono uppercase">

    <hr />

    <div>
      <a href="{{pdfUrl}}">
        <span>Download Guide PDF</span>
        <svg width="17" height="20" fill="none" viewBox="0 0 17 20">
          <path stroke="#000" d="M8.13 0v19.231M15.676 11.892l-7.692 7.692M.353 11.892l7.693 7.693M.707 19.5h14.615" />
        </svg>
      </a>
      <a id="track" routerLink="/projects/{{projectKey}}/track">
        <span>Track your Progress</span>
      </a>
    </div>
  </div>

</div>
