<div class="container" *ngIf="hasContent">
  <section class="section columns column is-multiline about">
    <div class="column is-full-mobile is-one-third">
        <h2>About</h2>
    </div>
    <div class="column">
      <h3>Meetr — A place where engaged journalism reflection meets measurable progress.</h3>
      <p>Meetr came to be through the collaboration of the Agora Journalism Center at the University of Oregon’s School of Journalism and Communication and the Engagement Lab at Emerson College in Boston, MA. Its goal is to support the practice of relational journalism and to provide engagement journalists an apparatus to encourage reflection and highlight growth.</p>
      <p>The reflection guide and survey is based on the Civic Media Practice report by Eric Gordon and Gabriel Mugar. It has been adapted specifically for journalists by Regina Lawrence and Andrew DeVigal, and refined by a cohort of engagement journalists assembled in 2018. The process of developing the tool is explained in detail in the Building Engagement report.</p>
    </div>
  </section>
</div>

<div class="download">
  <div class="container">
    <section class="section columns column is-multiline is-centered is-vcentered">
      <div class="column is-one-third hidden-tablet-plus">
        <!-- Mobile download link -->
        <h2><a href="{{ content.guidePdf.url }}">Download the Building Engagement Report</a></h2>
      </div>

      <div class="column is-one-third preview-container">
        <cdn-image 
          class="pdf-preview" width="600" [responsive]="true" autoFormat="true"
          cloudinaryPrefix="engagement-journalism/" cloudinaryId="img/about/pdf-preview"
          alt="Building Engagement PDF preview"></cdn-image>
      </div>

      <div class="column is-one-third hidden-mobile">
        <!-- Desktop download link -->
        <h2><a href="{{ content.guidePdf.url }}">Download the Building Engagement Report</a></h2>
      </div>
    </section>
  </div>
</div>

<div class="purple" *ngIf="hasContent">
  <!-- Container within .purple so background color extends full width of page -->
  <div class="container">
    <section class="section columns column is-multiline what">
      <div class="column is-one-third">
        <h2>What is engaged journalism?</h2>
      </div>
      <div class="column info-list" [innerHtml]="content.what.html"></div>
    </section>

    <section class="section columns column is-multiline why">
      <div class="column is-one-third">
        <h2>Why do engaged journalism?</h2>
      </div>
      <div class="column info-list" [innerHtml]="content.why.html"></div>
    </section>
  </div>
</div>