<div id="menu">
  <ul id="menu-nav">
    <li>
      <a [class.current]="itemActive('about')" routerLink="/about" queryParamsHandling="merge">
        About
      </a>
    </li>
    <li>
      <a [class.current]="itemActive('projects')" routerLink="/projects" queryParamsHandling="merge">
        Projects
      </a>
    </li>
    <li>
      <a [class.current]="itemActive('about')" routerLink="/talk" queryParamsHandling="merge">
        Talk it Out
      </a>
    </li>
    <li>
      <a [class.current]="itemActive('about')" routerLink="/studies" queryParamsHandling="merge">
        Case Studies
      </a>
    </li>
    <li>
      <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSd7gM6bleQIlrMQLTrBqGv-sIogEexeSohh-yx5G00o7tdzIw/viewform">
        Help & Feedback
      </a>
    </li>
  </ul>

  <hr id="line" />

  <ul id="signout">
    <li *ngIf="isAuthenticated === true">
      <a href="#" (click)="signOut()">Sign Out</a>
    </li>
    <li *ngIf="isAuthenticated === false"></li>
  </ul>
</div>
