<div id="menu">
    <ul>
        <li>            
            <a [class.current]="itemActive('about')" routerLink="/about" queryParamsHandling="merge" >
                About
            </a>
        </li>
        <li>            
            <a [class.current]="itemActive('about')" routerLink="/talk" queryParamsHandling="merge" >
                Talk it Out
            </a>
        </li>
        <li>            
            <a [class.current]="itemActive('about')" routerLink="/talk" queryParamsHandling="merge" >
                Track Your Progress
            </a>
        </li>
        <li>            
            <a [class.current]="itemActive('about')" routerLink="/talk" queryParamsHandling="merge" >
                Case Studies
            </a>
        </li>
    </ul>
    
</div>